/config/*
/config/app.php
/public/popUpImage/*
/public/.htaccess
/public/artwork
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.lock
*.zip
*.dmg
*.exe
/public/audio
/public/managerProfile
/public/managerLogo
/public/djProfile
/public/djManagerProfile
/public/campaignUserProfile/*\
/public/records
custom.key
spinstatz.csr
spinstatz.key

